Source: di-live 
Section: admin
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends: debhelper (>> 4.2.0), debconf (>= 0.5.0), po-debconf (>= 1.0), dpkg-dev (>= 1.9.0), libdebconfclient0-dev (>= 0.68), libdebian-installer4-dev (>= 0.41), libparted0-dev
Standards-Version: 3.6.1

Package: di-live
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, ${bootloader-depends}, python (>= 2.4), debconf, libdebconfclient0, os-prober
Recommends: whiptail, kbd
Section: admin
Description: Debian Installer for Live systems
