[Unit]
Description=di-live: TurnKey Linux installer
ConditionKernelCommandLine=di-live

[Service]
Type=idle
StandardInput=tty-force
StandardOutput=tty
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
ExecStartPre=/usr/bin/echo "Starting di-live..."
ExecStart=/usr/bin/di-live
# no need to wait when stopping
TimeoutStopSec=0

[Install]
WantedBy=rescue.target
