#! /usr/bin/make -f

bootloader-depends := grub-pc

clean:
	dh_clean
	$(MAKE) -C d-i clean

build:
	dh_testdir
	$(MAKE) -C d-i build

install: 
	dh_testdir
	dh_testroot
	dh_clean -k

binary-indep: install
	dh_testdir
	dh_testroot
	$(MAKE) -C d-i install
	cat d-i/templates >> debian/templates
	dh_link usr/lib/di-live/di-live.py usr/bin/di-live
	dh_install
	dh_systemd_enable
	dh_installinit -r --no-start -- start 99 S . start 89 0 6 .
	dh_installdocs docs/
	dh_installdebconf
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol -- -V'bootloader-depends=$(bootloader-depends)'
	dh_md5sums 
	dh_builddeb

binary-arch: install

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install

